@import url("./Fonts/Big_Shoulders_Display\,Lexend_Deca/Lexend_Deca/static/LexendDeca-Regular.ttf");
@import  url("./Fonts/Big_Shoulders_Display\,Lexend_Deca/Big_Shoulders_Display/static/BigShouldersDisplay-Regular.ttf");

@font-face {
    font-family: "Lexend Deca";
    src: url("./Fonts/Big_Shoulders_Display\,Lexend_Deca/Lexend_Deca/static/LexendDeca-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("./Fonts/Big_Shoulders_Display\,Lexend_Deca/Big_Shoulders_Display/static/BigShouldersDisplay-Regular.ttf") format("truetype");
}